# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf

# Tabs and spaces handled by prettier, but this 
# forces VS Code to respect those settings
indent_style = space
indent_size = 2