# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

.env

/policies.*.json
/cli.json
/src/errors.ts
/src/guides.ts
/temp
/scripts/update-policies.mjs
/scripts/update-policies.mjs.map

# Policies Generated Docs
generated/
/docs/policies/*
!/docs/policies/overview.mdx

# CLI Generated Docs
/docs/cli/*
!/docs/cli/authentication.mdx
!/docs/cli/connectivity.mdx
!/docs/cli/convert.mdx
!/docs/cli/create-zuplo-api.mdx
!/docs/cli/global-options.mdx
!/docs/cli/*.partial.mdx
!/docs/cli/*.partial.md


yarn.lock
.vercel

# Generated Contenthttps://developer-api-nick-expos-37cdc87.self.zuplo.cou
public/robots.txt
public/sitemap.xml
public/sitemap-*.xml
api.json
api-preview.json
build/
.next/
docs/dev-portal/zudoku/
# Sentry Config File
.env.sentry-build-plugin



# We want to ignore our StylesPath *except* for our local
# `vocabularies/Base` directory.

.styles/*
!.styles/config/
!.styles/Zuplo/

!.styles/config/

.styles/config/vocabularies/*
!.styles/config/vocabularies/Base


# Screenshots
auth.json

# docs generation
/api.json
/api.md
/types.d.ts
/index.d.ts


/.lycheecache
