# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

.env

/policies.*.json
/cli.json
/docs/policies/*
!/docs/policies/overview.mdx
/src/errors.ts
/temp
/scripts/update-policies.mjs
/scripts/update-policies.mjs.map

yarn.lock
.vercel

# Generated Content
public/robots.txt
public/sitemap.xml
public/sitemap-*.xml
api.json
build/
.next/
docs/dev-portal/zudoku/
# Sentry Config File
.env.sentry-build-plugin



# We want to ignore our StylesPath *except* for our local
# `vocabularies/Base` directory.

.styles/*
!.styles/config/
!.styles/Zuplo/

!.styles/config/

.styles/config/vocabularies/*
!.styles/config/vocabularies/Base


# Screenshots 
auth.json

# docs generation
/api.json
/api.md
/types.d.ts
/index.d.ts


/.lycheecache