@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
  :root {
    --page-px: 1rem;
    --page-pt: 3rem;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body,
  html {
    @apply relative m-0 h-max w-full border-0 p-0;

    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-fancy font-bold;
  }
}

@layer components {
  .btn {
    @apply block whitespace-nowrap rounded-lg px-5 py-3 text-center text-sm font-semibold no-underline transition-colors;
  }
  .btn.btn-primary-light {
    @apply bg-pink text-white hover:bg-black;
  }
  .btn.btn-primary-dark {
    @apply bg-pink text-white hover:bg-pink-hover dark:hover:bg-white dark:hover:text-black;
  }
  .btn.btn-large {
    @apply rounded-xl px-12 py-5 text-base;
  }
  .btn.btn-secondary-light {
    @apply border border-gray-500 bg-transparent text-white hover:bg-[#d9d9d9] dark:text-black;
  }
  .btn.btn-secondary-dark {
    @apply border border-gray-600 bg-transparent text-white hover:bg-[#ffffff59];
  }
  .btn.btn-tertiary-dark {
    @apply bg-pink text-white hover:bg-pink-hover;
  }
  .input {
    @apply w-full rounded-2xl border border-gray-500 text-lg transition-all placeholder:font-light placeholder:text-gray-600 hover:border-2 hover:border-pink focus:outline-0;
  }
  .label {
    @apply font-fancy text-sm font-semibold uppercase tracking-[3px] text-zinc-400;
  }
}

:not(pre) > code {
  @apply rounded-sm bg-white bg-opacity-10 px-1.5 py-0.5 font-normal tracking-wider ring-transparent dark:bg-gray dark:ring-1 dark:ring-gray-500;
}
