@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --shiki-color-text: theme("colors.white");
    --shiki-token-constant: "#6a737d" theme("colors.emerald.300");
    --shiki-token-string: theme("colors.emerald.300");
    --shiki-token-comment: theme("colors.zinc.500");
    /* --shiki-token-keyword: theme("colors.sky.300"); */
    --shiki-token-keyword: rgb(249, 117, 131);
    --shiki-token-parameter: theme("colors.pink.300");
    --shiki-token-function: theme("colors.violet.300");
    --shiki-token-string-expression: theme("colors.emerald.300");
    --shiki-token-punctuation: theme("colors.zinc.200");
  }
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

.mask-icon {
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

pre {
  @apply !rounded-md;
}

[data-rehype-pretty-code-title] {
  @apply bg-gray-900 text-zinc-200 rounded-t-md py-2 px-3 font-semibold text-sm border-b border-b-gray-700;
}

figcaption + div > pre {
  @apply !rounded-t-none;
}
