@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ES Build";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.zuplo.com/static/fonts/esbuild/woff2/ES-Build-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "ES Build";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.zuplo.com/static/fonts/esbuild/woff2/ES-Build-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "ES Build";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.zuplo.com/static/fonts/esbuild/woff2/ES-Build-SemiBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "ES Build";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.zuplo.com/static/fonts/esbuild/woff2/ES-Build-Bold.woff2")
    format("woff2");
}

@layer base {
  /* body {
    @apply bg-black;
  } */
  html {
    @apply font-base font-light;
  }
  a {
    @apply text-pink font-base font-normal underline hover:text-pink-hover;
  }
}

@layer utilities {
  .animate {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 150ms;
  }
}

@layer components {
  .content-panel {
    @apply xl:border-l rounded-lg xl:rounded-none xl:rounded-r-lg w-full xl:w-4/5 py-6 px-3 md:px-4 xl:p-8 leading-normal bg-white border-gray-200;
  }
}
