.root {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.copyright,
.linksSocial,
.linksSecondary {
  @apply justify-self-center;
}

@media (min-width: theme("screens.md")) {
  .newsletter {
    grid-area: newsletter;
  }

  .logo {
    grid-area: logo;
  }

  .linksPrimary {
    grid-area: linksPrimary;
  }

  .linksSocial {
    grid-area: linksSocial;
  }

  .linksSecondary {
    grid-area: linksSecondary;
  }

  .copyright {
    grid-area: copyright;
  }

  .linksPrimary {
    @apply justify-self-end;
  }

  .copyright,
  .linksSecondary {
    @apply justify-self-start;
  }

  .linksSocial {
    @apply justify-self-end;
  }

  .root {
    grid-template-columns: 200px 1fr 1fr 1fr 180px;
    grid-template-areas:
      "logo linksPrimary linksPrimary linksPrimary linksPrimary"
      "newsletter newsletter newsletter newsletter newsletter"
      "copyright linksSecondary linksSecondary linksSecondary linksSocial";
  }
}

@media (min-width: theme("screens.lg")) {
  .root {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "logo linksPrimary newsletter"
      "copyright linksSecondary linksSocial";
  }

  .linksSocial {
    @apply justify-self-start;
  }

  .linksPrimary {
    @apply justify-self-start self-start;
  }
}
