@keyframes animation {
  from {
    opacity: 0;
    transform: scaleY(0.75);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.mobileNavigation {
  animation-name: animation;
  transform-origin: top;
}
