/* common */
.ribbon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: -10px;
}
/* .ribbon::before {
  top: 0;
  left: 0;
}
.ribbon::after {
  bottom: 0;
  right: 0;
} */
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 120px;
  padding: 3px 0;
  text-align: center;
  left: -0px;
  top: 28px;
  transform: rotate(45deg);
  font-size: 10px;
  @apply text-white bg-pink font-semibold;
}
