.github-button {
  margin-right: auto;
  margin-left: auto;
  display: inherit;
  width: fit-content;
  background-color: black;
  border: black;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: var(--ifm-leading);
  vertical-align: baseline;
}

.github-button svg {
}

.github-button:hover {
  background-color: rgb(50, 47, 47);
}
