.policy-list {
  margin-top: var(--ifm-global-spacing);
  margin-bottom: var(--ifm-global-spacing);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--ifm-global-spacing);
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.policy-item {
  box-sizing: border-box;
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-pagination-nav-border-radius);

  place-content: center;
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
}

.policy-item-active,
.policy-item:hover {
  --tw-gradient-to: var(--ifm-color-emphasis-200);
  --tw-gradient-from: var(--ifm-color-emphasis-300);
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, hsla(0, 0%, 93%, 0));
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.policy-item-icon {
  color: var(--ifm-color-primary);
}

.policy-item-head {
  padding-top: var(--ifm-global-spacing);
  justify-content: center;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

.policy-item-title {
  padding-bottom: var(--ifm-global-spacing);
  color: var(--ifm-font-color-base);
  font-weight: var(--ifm-font-weight-semibold);
}

.policy-list a {
  text-decoration-line: none;
}

.policy-list a:hover {
  text-decoration-line: none;
}
