.quickstarts {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.quickstarts-item {
  box-sizing: border-box;
  border: 3px solid #e5e7eb;
  border-radius: 10px;

  place-content: center;
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
}

.quickstarts-item-active,
.quickstarts-item:hover {
  background-color: red;
  --tw-gradient-to: #e5e7eb;
  --tw-gradient-from: #ededed;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, hsla(0, 0%, 93%, 0));
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.quickstarts-item-icon {
  width: 2.5rem;
  color: var(--ifm-color-primary);
}

.quickstarts-item-head {
  padding-top: 0.75rem;
  justify-content: center;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

.quickstarts-item-title {
  padding: 0.75rem;
  color: black;
  font-weight: 500;
}

.quickstarts a {
  text-decoration-line: none;
}

.quickstarts a:hover {
  text-decoration-line: none;
}
