.screenshot {
  margin-right: auto;
  margin-left: auto;
  display: inherit;
  width: auto;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: var(--ifm-global-shadow-lw);
  margin-bottom: var(--ifm-leading);
}

.screenshot-lg {
  max-width: 90%;
}

.screenshot-md {
  max-width: 70%;
}

.screenshot-sm {
  max-width: 50%;
}

.screenshot-xs {
  max-width: 40%;
}

@media screen and (max-width: 1500px) {
  .screenshot-lg {
    max-width: 100%;
  }
  .screenshot-xs {
    max-width: 60%;
  }
}

@media screen and (max-width: 960px) {
  .screenshot-md {
    max-width: 100%;
  }
  .screenshot-sm {
    max-width: 80%;
  }
  .screenshot-xs {
    max-width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .screenshot-sm {
    max-width: 100%;
  }
  .screenshot-xs {
    max-width: 100%;
  }
}
