name: Release
on:
  workflow_dispatch:

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    # This can only be triggered from main
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"

      - name: Install dependencies
        run: npm install

      - run: npm i zudoku@latest

      - run: git config --global user.email "zudoku-bot@zuplo.com"
      - run: git config --global user.name "Zudoku Bot"

      - run: git add -A

      - name: Commit Version Bump
        run: |
          git commit -m "Updated Zudoku Package"

      - name: Push Changes
        run: git push origin main
